dhtml {
    max-width: 1440px;
}
body {
    background: white;
}

#section-1 {
    display: -webkit-flex;
    -webkit-flex-direction: column;
    text-align: center;
    justify-content: center;
    font-family: 'Spectral', serif;
    font-size: 33px;
    font-size:large;
    color: black;
    height: 180px;
    padding-top: 0px;
}

.Sparkle {
	 display: -webkit-flex;
	 font-size: 2.3em;
     font-family: 'Average', serif;
	 -webkit-text-fill-color: blue;
     background: -webkit-linear-gradient(transparent, transparent),
     url(https://media.giphy.com/media/kj2TTLhvTvBte/giphy.gif) repeat;
     background: -o-linear-gradient(transparent, transparent);
     -webkit-background-clip: text;
     text-align: center;
     align-items: center;
     justify-content: center;
     margin-bottom: 40px;
}
#intro {
    color: black;
    font-family: 'Average', serif;
    font-size: 2.65em;
    padding-left:120px;
    padding-right: 120px;
}

#profile {
    display: -webkit-flex;
    font-family: 'Average', serif;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

#likes {
    transform: translateY(-100%);
    display: inline-block;
}

h2 {
    display: -webkit-flex;
	font-size:50px;
	font-family:impact;
    text-align: center;
    align-items: center;
    justify-content: center;
}
    
h5 {
    display: -webkit-flex;
    font-family: 'Average', serif;
    text-align: center;
    align-items: center;
    justify-content: center;
}    

#description_pic {
    position: relative;
    width:100%;
    height: ;
    left: 0px;
    bottom: 250px;
    color: black;
    font-size: 69px;
    overflow: visible;
    overflow-y: visible;
    z-index: 10;
}

#promquote {
    position: static;
    width:100%;
    height:100 ;
    left: 0px;
    bottom: 250px;
    color: black;
    font-size: 20px;
    overflow: visible;
    overflow-y: visible;
    z-index: 1;
}

#promquote {
    position: static;
    width:100%;
    height: ;
    left: 0px;
    bottom: 250px;
    color: black;
    overflow: visible;
    overflow-y: visible;
    z-index: 1;
}

#text {
    position:relative;
    width:100%;
    height:130px;
    font-size:50px;
    animation-name: slide;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    -webkit-animation-name: slide;
    -webkit-animation-duration: 10s;
    -webkit-animation-timing-function:linear;
    -webkit-animation-iteration-count: infinite;
  position:relative;
  width:100%;
  height:130px;
  font-size:50px;
  animation-name: slide;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  -webkit-animation-name: slide;
  -webkit-animation-duration: 10s;
  -webkit-animation-timing-function:linear;
  -webkit-animation-iteration-count: infinite;
    font-family: 'Average', serif;
    -webkit-text-fill-color: transparent;
 background: -webkit-linear-gradient(transparent, transparent),
             url(https://media.giphy.com/media/kj2TTLhvTvBte/giphy.gif) repeat;
 background: -o-linear-gradient(transparent, transparent);
 -webkit-background-clip: text;
  z-index: 0;
}

#text2 {
  position:relative;
  width:100%;
  height:100px;
  font-size:50px;
  animation-name: slide;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  -webkit-animation-name: slide;
  -webkit-animation-duration: 12s;
  -webkit-animation-timing-function:linear;
  -webkit-animation-iteration-count: infinite;
    font-family: 'Average', serif;
	-webkit-text-fill-color: transparent;
background: -webkit-linear-gradient(transparent, transparent),
             url(http://www.myspacehippo.com/files/glitterbacks/bg345.gif) repeat;
 background: -o-linear-gradient(transparent, transparent);
 -webkit-background-clip: text;
  z-index: 0;
}

@keyframes slide {
  from { left: 100%;}
  to { left: -100%;}
}

@-webkit-keyframes slide {
  from { left: 100%;}
  to { left: -100%;}
}

#description {
    color: black;
font-family: 'Average', serif;
    font-size: 2.65em;
    padding-left: 100px;
    padding-right:100px;
    z-index: 100;
}

#rollgate {
    color: black;
    font-family: 'Average', serif;
    font-size: 2.65em;
    padding-left: 100px;
    padding-right:100px;
}

#list-intro {
    color: black;
    padding-top: 10px;
    font-family: 'Average', serif;
    font-size: 2.65em;
    list-style-type: none;
    padding-left: 100px;
    padding-right: 100px;
}

ul {
    color: black;
    padding-top: 10px;
    font-family: 'Average', serif;
    font-size: 2.1em;
    padding-left: 100px;
    padding-right: 100px;
    content: "\2605";
}

#havaspic {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
}

#skate {
    padding: 0;
    margin: 0;
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

#end {
    display: -webkit-flex;
    -webkit-flex-direction: column;
    justify-content: center;
    text-align: left;
    font-family: 'Average', serif;
    font-size: 2.65em;
    color: black;
    padding-left: 100px;
    padding-right: 100px;
}

#thanks {
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: 'Average', serif;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
}

#say-hello {
    display: -webkit-flex;
    -webkit-flex-direction: column;
    justify-content: center;
    text-align: left;
    font-family: 'Average', serif;
    font-size: 2.65em;
    color: blue;
    padding-top: 100px;
    padding-left: 100px;
    padding-right: 100px;
}

#UL_1 {
    color: rgba(0, 0, 0, 0.85);
    height: 350.938px;
    text-align: left;
    text-decoration: none;
    text-size-adjust: 100%;
    Width: 100vw;
    column-rule-color: rgba(0, 0, 0, 0.85);
    perspective-origin: 200px 175.469px;
    transform-origin: 200px 175.469px;
    caret-color: rgba(0, 0, 0, 0.85);
    border: 0px none rgba(0, 0, 0, 0.85);
    font: normal normal normal normal 43.0254px / 53.7817px Fort;
    list-style: none outside none;
    margin: 0px;
    padding-left: 100px;
    padding-right: 100px;
}/*#UL_1*/

#LI_2, #LI_4, #LI_6, #LI_8, #LI_10 #LI {
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.85);
    height: 70.1875px;
    text-decoration: none solid rgba(0, 0, 0, 0.85);
    text-size-adjust: 100%;
    column-rule-color: rgba(0, 0, 0, 0.85);
    perspective-origin: 200px 35.0938px;
    transform-origin: 200px 35.0938px;
    caret-color: rgba(0, 0, 0, 0.85);
    border: 0px none rgba(0, 0, 0, 0.85);
    font: normal normal normal normal 43.0254px / 53.7817px Fort;
    list-style: none outside none;
    outline: rgba(0, 0, 0, 0.85) none 0px;
    padding: 8.60508px 0px;
    text-decoration: none;
}/*#LI_2, #LI_4, #LI_6, #LI_8, #LI_10*/

#A_3, #A_5, #A_9 {
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.85);
    text-align: left;
    text-decoration: none solid rgba(0, 0, 0, 0.85);
    text-size-adjust: 100%;
    column-rule-color: rgba(0, 0, 0, 0.85);
    caret-color: rgba(0, 0, 0, 0.85);
    border-top: 0px none rgba(0, 0, 0, 0.85);
    border-right: 0px none rgba(0, 0, 0, 0.85);
    border-bottom: 4px solid rgb(0, 0, 0);
    border-left: 0px none rgba(0, 0, 0, 0.85);
    font: normal normal normal normal 43.0254px / 53.7817px Fort;
    list-style: none outside none;
    outline: rgba(0, 0, 0, 0.85) none 0px;
    text-decoration: none;
}/*#A_3, #A_5, #A_9*/

#A_7 {
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.85);
    
    text-align: left;
    text-decoration: none solid rgba(0, 0, 0, 0.85);
    text-size-adjust: 100%;
    column-rule-color: rgba(0, 0, 0, 0.85);
    caret-color: rgba(0, 0, 0, 0.85);
    border-top: 0px none rgba(0, 0, 0, 0.85);
    border-right: 0px none rgba(0, 0, 0, 0.85);
    border-bottom: 4px solid rgb(0, 0, 0);
    border-left: 0px none rgba(0, 0, 0, 0.85);
    font: normal normal normal normal 43.0254px / 53.7817px Fort;
    list-style: none outside none;
    outline: rgba(0, 0, 0, 0.85) none 0px;
    text-decoration: none;
}/*#A_7*/

#A_11 {
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.85);
    text-align: left;
    text-decoration: none solid rgba(0, 0, 0, 0.85);
    text-size-adjust: 100%;
    column-rule-color: rgba(0, 0, 0, 0.85);
    caret-color: rgba(0, 0, 0, 0.85);
    border-top: 0px none rgba(0, 0, 0, 0.85);
    border-right: 0px none rgba(0, 0, 0, 0.85);
    border-bottom: 4px solid rgb(0, 0, 0);
    border-left: 0px none rgba(0, 0, 0, 0.85);
    font: normal normal normal normal 43.0254px / 53.7817px Fort;
    list-style: none outside none;
    outline: rgba(0, 0, 0, 0.85) none 0px;
    text-decoration: none;
}/*#A_11*/

#A_12 {
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.85);
    text-align: left;
    text-decoration: none solid rgba(0, 0, 0, 0.85);
    text-size-adjust: 100%;
    column-rule-color: rgba(0, 0, 0, 0.85);
    caret-color: rgba(0, 0, 0, 0.85);
    border-top: 0px none rgba(0, 0, 0, 0.85);
    border-right: 0px none rgba(0, 0, 0, 0.85);
    border-bottom: 4px solid rgb(0, 0, 0);
    border-left: 0px none rgba(0, 0, 0, 0.85);
    font: normal normal normal normal 43.0254px / 53.7817px Fort;
    list-style: none outside none;
    outline: rgba(0, 0, 0, 0.85) none 0px;
    text-decoration: none;
}/*#A_11*/

#team-list {
    display: -webkit-flex;
	font-size: 30px;
	font-family: 'Spectral', serif;
	-webkit-text-fill-color: transparent;
    background: -webkit-linear-gradient(transparent, transparent),
    url(https://media.giphy.com/media/109synC4N3qsuc/giphy.gif) repeat;
    background: -o-linear-gradient(transparent, transparent);
    -webkit-background-clip: text;
    text-align: center;
    align-items: center;
    justify-content: center;
}

li {
    cursor: pointer;
}

#outro {
    color: black;
    font-family: 'Average', serif;
    font-size: 2.65em;
    padding-left:100px;
    padding-right: 100px;
    padding-bottom: 60px;
    padding-top: 100px;
    padding-top: 30px;
}

#studioid {
    height: 300px;

}

#studioid:hover {
    background-image: url('https://nerdist.com/wp-content/uploads/2018/01/Rusty-Spotted-Cat-1-BBC-Big-Cats.jpg');
    height: 300px;
}

#RUNHOME {
    color: red;
}

#RUNHOME:hover {
    image:url('https://nerdist.com/wp-content/uploads/2018/01/Rusty-Spotted-Cat-1-BBC-Big-Cats.jpg');
}

.hiddenimg {
  display: none;
}

.hiddentxt {
  font-weight: bold;
  color: #F00;
}

.hiddentxt a {
  color: #F00;
  text-decoration: none;
}

.hiddenclick {
  font-weight: bold;
  color: #F00;
  text-decoration: none;
  cursor: pointer;
}

.hiddenclick a {
  color: #F00;
  text-decoration: none;
}

.hiddenclick a:visited {
  color: #F00;
  text-decoration: none;
}

.hiddentxt:hover ~ .hiddenimg {
  display: inline;
  position: absolute;

}

#sworks {
    display: flex;
    margin-left: 10%;
    color: green;
    font-family: 'Average', serif;
    font-size: 1.95em;
}

.splacer {
    margin-top: 150px;
    margin-left: 5%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#splacer-blurb {
    position: absolute;
    width: 30%;
    background-color: white;
    font-size: .8em
 
}

#splacer-copy {
    font-family: 'Work Sans', sans-serif;
    font-weight: 200;
    background-color: white;
    margin-top: 100px;
    z-index: 10;
    margin-left: 35%;
}

#first-image {
max-width: 100vw;
    height: auto;
    z-index: 8;
}

.splacer-images {
    max-width: 100%;
    height: auto;
    z-index: 8;
    padding: 40px;
    position: relative;
}

.bella {
   margin-top: 150px;
    margin-left: 2%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    font-family: 'Work Sans', sans-serif;
}

.bella-copy {
    font-family: 'Work Sans', sans-serif;
    background-color: white;
    margin-top: 100px;
    z-index: 10;
    margin-left: 10%;
}

#bella-blurb {
    position: absolute;
    background-color: white;
    z-index: 3;
    font-family: 'Work Sans', sans-serif;
    font-weight: 200;
    font-size: .8em

}

#bella-video {
    z-index: 1;
    padding-right: 10px;
}

/*urlirl*/

.urlirl {
   margin-top: 180px;
    margin-left: 2%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    font-family: 'Work Sans', sans-serif;
}

#urlirl-copy {
    font-family: 'Work Sans', sans-serif;
    background-color: white;
    margin-top: 50px;
    z-index: 10;
    margin-left:  20px;
    
}

#urlirl-blurb {
    position: absolute;
    background-color: white;
    z-index: 3;
    font-family: 'Work Sans', sans-serif;
    font-weight: 200;
    font-size: .8em
}

#urlirl-video {
    z-index: 1;
    padding-right: 10px;
    z-index: 10;
}

#urlirl-image1 {
    display: inline;
    position: relative;
    margin-left: 10px;
    margin-top: -60px;
    z-index: 5;
}

#urlirl-image2 {
    display: inline;
    position: relative;
    margin-left: -150px;
    margin-top: -40px;
    z-index: 5;
}

#urlirl-image3 {
    display: inline;
    position: relative;
    margin-left: -280px;
    margin-top: 170px;
    z-index: 5;
}

#urlirl-image4 {
    display: inline;
    position: relative;
    margin-left: -80px;
    margin-top: 70px;
    z-index: 5;
}

/*mission*/

.mission {
    margin-top: 180px;
    margin-left: -2%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#mission-blurb {
    display: inline;
    position: absolute;
    width: 15%;
    background-color: white;
    font-size: .8em
 
}

#mission-copy {
    font-family: 'Work Sans', sans-serif;
    font-weight: 200;
    background-color: white;
    margin-top: 5px;
    z-index: 10;
    margin-left: 5%;
}

#mission-image1 {
    display: flex;
    position: relative;
    z-index: 5;
}

#mission-image2 {
    display: flex;
    position: relative;
    z-index: 6;
    margin-left: -20px;
    margin-top: -10px;
}

#mission-image3 {
    display: flex;
    position: relative;
    z-index: 7;
    margin-left: -50px;
    margin-top: 15px;
}

#mission-image4 {
    display: inline;
    position: relative;
    z-index: 3;
    transform: rotate(90deg);
    margin-left: -100px;
    margin-top: -80px;
}

#mission-image5 {
    display: flex;
    position: relative;
    z-index: 3;
    transform: rotate(90deg);
}
/* haze */

.haze {
   margin-top: 180px;
    margin-left: 2%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    font-family: 'Work Sans', sans-serif;
}

#haze-copy {
    font-family: 'Work Sans', sans-serif;
    background-color: white;
    margin-top: 100px;
    z-index: 10;
    margin-left:  20px;
}

#haze-blurb {
    position: absolute;
    background-color: white;
    z-index: 3;
    font-family: 'Work Sans', sans-serif;
    font-weight: 200;
    font-size: .8em

}

#haze-video {
    display: flex;
    z-index: 1;
    padding-right: 10px;
    z-index: 1;
    max-width: 100vw;
}

#haze-image1 {
    display: flex;
    position: relative;
    margin-left: 10px;
    margin-top: -60px;
    z-index: 5;
}

#haze-image2 {
    display: flex;
    position: relative;
    margin-left: -150px;
    margin-top: -40px;
    z-index: 5;
}

#haze-image3 {
    display: flex;
    position: relative;
    margin-left: -280px;
    margin-top: 170px;
    z-index: 5;
}

/** augment **/

.augment {
    display: -webkit-flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#augment-pics {
    display: -webkit-flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-left: 20%;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
}

#augment-blurb {
    display: inline;
    position: absolute;
    width: 15%;
    background-color: white;
    font-size: .8em
}

#augment-copy {
    font-family: 'Work Sans', sans-serif;
    font-weight: 200;
    background-color: white;
    margin-top: 100px;
    z-index: 10;
    margin-left: 5%;
}

#augment-image1 {
    display: flex;
    position: relative;
    margin-left: 10px;
    margin-top: -100px;
    z-index: 5;
    max-width: 100vw;
}

#augment-image2 {
     display: flex;
    position: relative;
    margin-left: -150px;
    margin-top: -10px;
    z-index: 5;
    max-width: 100vw;
}

/* conde */

.nextgen {
   display: -webkit-flex;
   margin-top: 180px;
    margin-left: 2%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    font-family: 'Work Sans', sans-serif;
}

#nextgen-copy {
    font-family: 'Work Sans', sans-serif;
    background-color: white;
    margin-top: 10px;
    z-index: 10;
    margin-left:  10px;
}

#nextgen-blurb {
    position: absolute;
    background-color: white;
    z-index: 3;
    font-family: 'Work Sans', sans-serif;
    font-weight: 200;
    font-size: .8em

}

#nextgen-video {
    display: flex;
    padding-right: 10px;
    max-width: 50%;
    height: auto;
    min-width: 10px;

}

.flexbox {
    display: flex;
    max-width: 100%;
}

.scroll {
 height: 50px;	
 overflow: hidden;
 position: relative;
}
.scroll h3 {
  background:url("https://media.giphy.com/media/dpp3DNAet0Fs4/giphy.gif") repeat;
  background-position:10px;
 	-webkit-background-clip: text;
    color: transparent;
 font-size: .6em;
 position: absolute;
 width: 100%;
 height: 100%;
 margin: 0;
 line-height: 50px;
 text-align: center;
 /* Starting position */
 -moz-transform:translateX(100%);
 -webkit-transform:translateX(100%);	
 transform:translateX(100%);
 /* Apply animation to this element */	
 -moz-animation: scroll 15s linear infinite;
 -webkit-animation: scroll 15s linear infinite;
 animation: scroll 15s linear infinite;
}
.scroll h4 {
  background:url("https://media.giphy.com/media/dpp3DNAet0Fs4/giphy.gif") repeat;
  background-position:10px;
 	-webkit-background-clip: text;
    color: transparent;
 font-size: 2em;
 position: absolute;
 width: 100%;
 height: 100%;
 margin: 0;
 line-height: 50px;
 text-align: center;
 /* Starting position */
 -moz-transform:translateX(100%);
 -webkit-transform:translateX(100%);	
 transform:translateX(100%);
 /* Apply animation to this element */	
 -moz-animation: scroll 15s linear infinite;
 -webkit-animation: scroll 15s linear infinite;
 animation: scroll 15s linear infinite;
}
/* Move it (define the animation) */
@-moz-keyframes scroll {
 0%   { -moz-transform: translateX(100%); }
 100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes scroll {
 0%   { -webkit-transform: translateX(100%); }
 100% { -webkit-transform: translateX(-100%); }
}
@keyframes scroll {
 0%   { 
 -moz-transform: translateX(100%); /* Firefox bug fix */
 -webkit-transform: translateX(100%); /* Firefox bug fix */
 transform: translateX(100%); 		
 }
 100% { 
 -moz-transform: translateX(-100%); /* Firefox bug fix */
 -webkit-transform: translateX(-100%); /* Firefox bug fix */
 transform: translateX(-100%); 
 }
}
